@import '../vars';

.body-styleguide {
	height: 100%;

	.heading {
		@extend %bold-text;
		color: var(--green2A3C2C);
		font-size: 5vw;
	}

	.typeset {
		font-size: 1.25vw;
		@extend %helvetica-text;
	}

	.small-heading {
		@extend %bold-text;
		color: var(--green2A3C2C);
		font-size: 2.5vw;
	}

	.container {
		padding: 0 13.438vw;
	}

	.wrapper {
		display: flex;
		flex-direction: column;
		min-height: 100%;
	}

	.content {
		background: var(--beige);
		flex: 1 0 auto;
	}

	.footer {
		flex: 0 0 auto;
	}

	.fullscreen {
		background: url('/src/images/styleguide/hero.png') var(--darkGreen) no-repeat center center;
		background-size: contain;
		height: 100vh;
		min-height: 100vh;

		&__inner {
			height: 100%;
			position: relative;
		}

		&__word {
			font-size: 2.5vw;
			position: absolute;
			right: 0;
			top: 16.927vw;
		}
	}

	.culttea {
		left: 50%;
		position: absolute;
		top: 50%;
		transform: translateX(-50%);
		width: 100%;
	}

	.header {
		@include displayFlex;
		@include contentCenter;

		&__nav {
			@include displayFlex;
			@include contentCenter;
			gap: 2.083vw;
			padding-top: 5.26vw;
		}

		&__nav-link {
			@extend %helvetica-text;
			color: var(--beige);
			font-size: 1.25vw;
			text-decoration: none;
		}
	}

	.about {
		&__inner {
			padding: 6.146vw 0 0;
			position: relative;

			.p-1 {
				margin-bottom: 2.5vw;
				max-width: 35.052vw;
			}

			.p-2 {
				margin-left: auto;
				max-width: 35.052vw;
				position: relative;
			}
		}

		&__line {
			left: 21vw;
			position: absolute;
			top: 13vw;

			svg {
				height: 11.354vw;
				width: 15.781vw;
			}
		}

		h2:first-of-type {
			margin-bottom: 3.229vw;
		}

		p {
			font-size: 1.25vw;
			@extend %helvetica-text;
		}

		&__row {
			@include displayFlex;
			justify-content: space-between;
			margin-bottom: 5.781vw;
			margin-top: 6.615vw;
			width: 100%;
		}

		.mission {
			gap: 2vw;
			@include displayFlex;
			@include flexDirection(column);
			max-width: 27.552vw;
			width: 37.604vw;
		}

		.values {
			@include displayFlex;
			@include flexDirection(column);
			gap: 1.042vw;

			ul {
				font-size: 1.25vw;
				@extend %helvetica-text;
				list-style-type: disc;
			}
		}

		.identic {
			@include displayFlex;
			@include flexDirection(column);
			gap: 1.042vw;
			max-width: 35.938vw;
		}
	}

	.logo {
		.logo__inner {
			padding-top: 13.49vw;
		}

		&__row {
			@include displayFlex;
			gap: 14.948vw;
			margin-top: 2.083vw;
		}

		.logo__row-left {
			gap: 1.302vw;
			@include displayFlex;
			@include flexDirection(column);
			max-width: 24.688vw;
		}

		.semantika {
			@include displayFlex;
			gap: 1.875vw;
			margin-top: 1.042vw;
		}
	}

	.afterlogo_img {
		margin-bottom: 11.354vw;
		margin-top: 10.104vw;

		img {
			width: 100%;
		}
	}

	.construction {
		.construction__img {
			margin-bottom: 5.417vw;
			margin-top: 3.073vw;
		}

		.use-text {
			margin-top: 1.354vw;
			max-width: 27.292vw;
		}

		.logo-variants {
			margin-bottom: 5.417vw;
			margin-top: 4.792vw;

			img {
				width: 100%;
			}
		}
	}

	.location {
		&__inner {
		}

		.location-img-1 {
			margin-bottom: 4.948vw;
			margin-top: 2.448vw;

			img {
				width: 100%;
			}
		}

		.location-img-2 {
			margin-bottom: 5.417vw;

			img {
				width: 100%;
			}
		}
	}

	.limits {
		&__text {
			margin-top: 1.354vw;
			max-width: 21.667vw;
		}

		.limits-img {
			margin-bottom: 5.417vw;
			margin-top: 2.031vw;

			img {
				width: 100%;
			}
		}
	}

	.colors {
		&__text {
			margin-bottom: 2.865vw;
			margin-top: 2.031vw;
		}

		&-img-1 {
			margin-bottom: 2.865vw;

			img {
				width: 100%;
			}
		}

		&-img-2 {
			margin-bottom: 6.823vw;
			margin-top: 2.24vw;

			img {
				width: 100%;
			}
		}
	}

	.typ {
		&__heading {
			margin-bottom: 4.583vw;
		}

		&__text {
			margin-bottom: 4.844vw;
			margin-top: 2.24vw;
			max-width: 31.146vw;
		}

		&-img {
			margin-bottom: 4.635vw;

			img {
				width: 100%;
			}
		}
	}

	.setka {
		.setka__sml-heading {
			margin-bottom: 4.531vw;
		}

		&__text {
			margin-bottom: 6.094vw;
			max-width: 40.677vw;
		}

		&-img {
			margin-bottom: 5.573vw;

			img {
				margin-top: 2.813vw;
				width: 100%;
			}
		}

		.posters-img {
			margin-bottom: 2.24vw;
			margin-top: 2.24vw;

			img {
				width: 100%;
			}
		}
	}

	.photo {
		&-img {
			margin-bottom: 1.25vw;
			margin-top: 2.969vw;

			img {
				width: 100%;
			}
		}

		&-text {
			margin-bottom: 7.448vw;
			max-width: 40.677vw;
		}
	}

	.photos {
		&-text {
			margin-bottom: 5.26vw;
			margin-top: 0.729vw;
			max-width: 31.146vw;
		}

		&-img {
			img {
				margin-bottom: 7.448vw;
				width: 100%;
			}
		}
	}

	.decoration {
		&-img {
			margin-bottom: 7.448vw;
			margin-top: 3.281vw;

			img {
				width: 100%;
			}
		}
	}

	.merch {
		img {
			width: 100%;
		}

		&-imgs {
			gap: 3.281vw;
			@include displayFlex;
			@include flexDirection(column);
			margin-bottom: 21.406vw;
			margin-top: 3.281vw;
		}
	}
}
