@import '../../../stylesheets/allcss';
.M_TeaCard {
  background: var(--beige-l);
  display: flex;
  flex-direction: column;
  gap: 21px;
  //max-width: 342px;
  max-width: none;
  padding: 18px 18px;
  scale: 0.95;
  text-decoration: none;
  width: 100%;
  /*box-sizing: content-box;*/
  //width: 342px;



  /*@media (min-width: 2560px) {*/
  /*  max-width: 526px;*/
  /*}*/

  @media (max-width: 1023px) {
    max-width: none;
  }

  &:not(:active) {
    scale: 1;
    transition: scale 0.5s ease-in-out;
  }

  img {
    width: 100%;
    @media (max-width: 1023px) {
      aspect-ratio: 270/197;
    }
  }
}
