@import '/src/stylesheets/vars';

.A_Logo {
  width: 110px;

  @media (max-width: 1440px) {
    img {
      width: 7.617vw;

    }
  }
}

.A_SearchInput {
  background: transparent;
  border: none;
  color: var(--darkGreen);

  display: none;
  font-family: var(--gramatika);
  font-size: 1.125rem;
  height: 100%;

  line-height: 112%;
  outline: none;
  padding-left: 15px;
  transition: all 0.3s ease;
  width: 0;

  &::placeholder {
    color: var(--light-green);
  }

  &.active {
    display: inline;
    transition: all 0.4s 0.7s ease;
    width: 100%;
  }
}

.A_quote {
  display: flex;
  flex-direction: column;
  font-family: var(--font-helios_ext_c);
  gap: 24px;
  max-width: 431px;

  @media (min-width: 2560px) {
    max-width: 575px;

  }

  @media (max-width: 1440px) {
    gap: 1.66vw;
    max-width: 29.883vw;
  }
}

.A_QuoteText {
  font-size: 1.5rem;
  font-weight: 900;

  @media (min-width: 2560px) {
    font-size: 2rem;
  }

  @media (max-width: 1440px) {
    font-size: 1.66vw;
  }
}

.A_QuoteTxt {
  color: var(--darkGreen);
  font-family: var(--font-helios_ext_c);
  font-size: 1.5rem;
  font-weight: 400;

  @media (min-width: 2560px) {
    font-size: 1.75rem;
  }

  @media (max-width: 1440px) {
    font-size: 1.66vw;
  }
}

.A_QuoteAuthor {
  color: var(--darkGreen);
  font-family: var(--font-helios_ext_c);
  font-size: 1.125rem;
  font-weight: 700;

  @media (min-width: 2560px) {
    font-size: 1.625rem;
  }

  @media (max-width: 1440px) {
    font-size: 1.172vw;
  }
}

.A_chapter {
  color: var(--darkGreen);
  font-family: 'Gramatika', sans-serif;
  font-size: 1.12rem;
  font-weight: 400;
  line-height: 112%;
  text-align: right;
  text-decoration: none;

  @media (min-width: 2560px) {
    font-size: 1.5rem;
  }

  @media (max-width: 1440px) {
    font-size: 1.172vw;
  }
}

.A_Title2Helios {
  color: var(--darkGreen);
  font-family: var(--font-helios_ext_c);
  font-size: 2.625rem;
  font-weight: 900;

  @media (min-width: 2560px) {
    font-size: 3.25rem;
  }

  @media (max-width: 1440px) {
    font-size: 2.832vw;

  }
}

.A_Title2Vlas {
  color: var(--darkGreen);
  font-family: var(--font-als_vlas);
  font-size: 1.75rem;
  -webkit-text-stroke: 1px var(--darkGreen);
  text-stroke: 1px var(--darkGreen);
  @media (min-width: 2560px) {
    font-size: 2rem;
  }
  @media (max-width: 1440px) {
    font-size: 2.051vw;

  }
}

.A_Title3Vlas {
  color: var(--darkGreen);
  font-family: var(--font-als_vlas);
  font-size: 1.625rem;
  -webkit-text-stroke: 1px var(--darkGreen);
  text-stroke: 1px var(--darkGreen);
}

.A_Text {
  color: var(--darkGreen);
  font-family: var(--gramatika);
  font-size: 1.125rem;
  font-weight: 400;

  @media (min-width: 2560px) {
    font-size: 1.5rem;
  }

  @media (max-width: 1440px) {
    font-size: 1.172vw;
  }
}

.A_Link {
  color: var(--caramel);
  font-family: var(--gramatika);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 159%;
  text-decoration: underline;
  text-decoration-skip-ink: none;

  @media (min-width: 2560px) {
    font-size: 1.5rem;
  }

  @media (max-width: 1440px) {
    font-size: 1.172vw;
  }
}

.A_PreImg {
  max-width: 306px;

  img {
    width: 100%;
  }

  @media (min-width: 1920px) {
    max-width: 408px;
  }

  @media (max-width: 1440px) {
    max-width: 21.191vw;
  }
}

.A_Tag {
  align-items: center;
  background: transparent;
  border: 1px solid var(--green);
  display: flex;
  justify-content: center;
  padding: 3px 10px;
  scale: 0.9;
  text-decoration: none;

  width: fit-content;

  @media (max-width: 1440px) {
    padding: 0.195vw 0.684vw;
  }

  span {
    color: var(--darkGreen);
    font-family: var(--gramatika);
    font-size: 0.75rem;
    line-height: 172%;
    text-align: justify;
    @media (max-width: 1440px) {
      font-size: 0.879vw;
    }
  }

  &:hover {
    transform: scale(1.1);
  }

  &:not(:active) {
    scale: 1;
    transition: transform 0.3s ease-in-out;
  }

  &.active {
    background-color: var(--green);
    border: 1px solid var(--green);
    span {
      color: var(--beige-l);
    }
  }
}

.A_Tag_Cloud {
  background: transparent;
  border: 1px solid var(--green);
  cursor: pointer;
  display: flex;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 114%;
  padding: 6px 20px;
  scale: 0.9;
  text-align: justify;

  span {
    color: var(--green);
    font-family: var(--gramatika);
  }

  &.active {
    background-color: var(--green);
    border: 1px solid var(--green);
    span {
      color: var(--beige-l);
    }
  }
  &:hover {
    transform: scale(1.05);
  }

  &:not(:active) {
    scale: 1;
    transition: transform 0.5s ease-in-out;
  }
}

.A_ImgRecipeL {
  grid-column: -8/ -1;

  img {
    width: 100%;
  }

  @media (min-width: 1920px) {
    object-fit: cover;
  }
}

.A_QuoteH {
  color: var(--darkGreen);
  font-family: var(--font-helios_ext_c);
  font-size: 1.5rem;
  font-weight: 900;

  @media (min-width: 2560px) {
    font-size: 1.875rem;
  }

  @media (max-width: 1440px) {
    font-size: 1.66vw;
  }
}

.A_TeaTypeCard {
  background: url('/src/images/index/TeaTypeImgBckg.png') no-repeat center;
  background-size: contain;
  cursor: pointer;
  display: flex;

  flex-direction: column;
  gap: 256px;
  max-width: 306px;
  min-height: 400px;
  padding: 50px 24px 24px;
  position: relative;
  text-decoration: none;
  width: 100%;

  @media (min-width: 1920px) {
    background-size: cover;
    gap: 370px;
    max-width: 408px;
    min-height: 534px;
  }

  @media (min-width: 2560px) {
    gap: 505px;
    max-width: 526px;
    min-height: 675px;
  }

  @media (max-width: 1440px) {
    gap: 14.941vw;
    max-width: 21.191vw;
    min-height: 27.734vw;
    padding: 3.418vw 1.66vw 1.66vw;
  }
}

.A_CardTitl1 {
  color: var(--darkGreen);
  display: block;
  font-family: var(--font-helios_ext_c);
  font-size: 1.25rem;
  font-weight: 900;

  @media (min-width: 2560px) {
    font-size: 1.375rem;
  }

  @media (max-width: 1440px) {
    font-size: 1.367vw;
  }
}

.A_CardTitle2 {
  color: var(--darkGreen);
  font-family: var(--font-als_vlas);
  font-size: 1rem;
  font-weight: 400;
  -webkit-text-stroke: 0.5px var(--darkGreen);
  text-stroke: 0.5px var(--darkGreen);
  @media (min-width: 2560px) {
    font-size: 1.375rem;
    -webkit-text-stroke: 1px var(--darkGreen);
    text-stroke: 1px var(--darkGreen);
  }

  @media (max-width: 1440px) {
    font-size: 1.074vw;
  }
}

.A_CardArrow {
  align-items: center;
  display: flex;
  justify-content: flex-end;

  img {
    max-width: 40px;
    width: 100%;
  }
}

.A_Describe {
  align-items: center;
  background: var(--green);
  border: none;
  color: var(--beige-l);
  cursor: pointer;
  display: flex;
  font-family: var(--font-helios_ext_c);
  font-size: 1.25rem;
  font-weight: 900;
  justify-content: center;
  line-height: 103%;
  min-height: 56px;
  padding: 6px 0;
  text-align: justify;
  text-decoration: none;
}

.A_Cursor1 {
  background: url('/src/images/index/Cursor_Default.svg') no-repeat center;
  background-size: cover;
  display: none;
  height: 153px;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  transform: translate(-50%, -50%);
  transition:
    opacity 0.4s ease,
    transform 0.1s ease;
  width: 232px;
  z-index: 1000;

  &.active {
    opacity: 1;
  }

  &.click {
    background: url('/src/images/index/Cursor_Click.svg') no-repeat center;
  }
}

.A_CardTitl2 {
  color: var(--darkGreen);
  display: block;
  font-family: var(--font-helios_ext_c);
  font-size: 1.5rem;
  font-weight: 900;
  text-decoration: none;

  @media (max-width: 1440px) {
    font-size: 1.367vw;
  }
}

.A_Title1 {
  color: var(--darkGreen);
  font-family: var(--font-helios_ext_c);
  font-size: 4rem;
  font-weight: 900;
  line-height: 76%;
}

.A_TeaTypeCardSlim {
  background-position: 60% 50%;
  background-size: cover;
  gap: initial;
  height: 63vh;
  justify-content: space-between;
  min-height: 0;
  //min-height: 500px;
}

.A_TeaImage {
  background: url('/src/images/tea_image.png') no-repeat center;
  background-size: cover;
  max-width: 636px;
  width: 100%;
}

.A_TeaImageSlim {
  max-width: 306px;
}

.M_Banner {
  background-image: url('/src/images/tea_image.png');
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  height: 440px;
  width: 100%;
}

.A_Lead {
  color: var(--darkGreen);
  font-family: var(--gramatika);
  font-size: 1.875rem;
  font-weight: 400;
}

.A_CardTitleHelios {
  color: var(--darkGreen);
  font-family: var(--font-helios_ext_c);
  font-size: 1rem;
  font-weight: 900;
  line-height: 118%;

  @media (max-width: 1440px) {
    font-size: 1.074vw;
  }
}

.A_CardTitleVlas {
  color: var(--darkGreen);
  font-family: var(--font-als_vlas);
  font-size: 0.75rem;
  -webkit-text-stroke: 0.5px var(--darkGreen);
  text-stroke: 0.5px var(--darkGreen);
}

.A_SliderButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  position: absolute;
  transition: opacity 0.3s ease-in-out;
}

.A_SliderButtonLeft.A_SliderButton_Disabled {
  opacity: 0;
  pointer-events: none;
}

.A_SliderButtonRight.A_SliderButton_Disabled {
  opacity: 0.3;
  pointer-events: none;
}

.A_Title3Helios {
  color: var(--darkGreen);
  font-family: var(--font-helios_ext_c);
  font-size: 2.25rem;
  font-weight: 900;
  line-height: 135%;
}

.A_Table1 {
  color: var(--darkGreen);
  font-family: var(--gramatika);
  font-size: 1.375rem;
  font-weight: 700;
}

.A_Table2 {
  color: var(--darkGreen);
  font-family: var(--gramatika);
  font-size: 1.375rem;
  font-weight: 400;
}

.A_SearchResult {
  color: var(--darkGreen);
  font-family: var(--font-helios_ext_c);
  font-size: 2.625rem;
  font-weight: 900;
  grid-column: span 12;
  line-height: 116%;
  margin-bottom: 76px;
  margin-top: 47px;
}

.A_List {
  color: var(--darkGreen);
  font-family: var(--gramatika);
  font-size: 1.375rem;
  font-weight: 900;
  list-style-type: disc;

}

.A_Socials {
  background-color: var(--caramel);
  color: var(--beige-l);
  font-family: var(--font-helios_ext_c);
  font-size: 1rem;
  font-weight: 900;
  line-height: 129%;
  padding: 14px 42px;
  text-align: justify;
  text-decoration: none;

}

.A_TeaCardTitle {
  color: var(--beige-l);
  font-family: var(--font-helios_ext_c);
  font-size: 1rem;
  font-weight: 900;
  line-height: 118%;
}


.A_FooterText {
  color: var(--beige-l);
  font-family: var(--font-helios_ext_c);
  font-size: 0.75rem;
  font-weight: 900;
  line-height: 118%;
}




