@import '/src/stylesheets/vars';

.A_Logo {
  width: 110px;
}

.A_SearchInput {
  background: transparent;
  border: none;
  color: var(--darkGreen);

  display: none;
  font-family: var(--gramatika);
  font-size: 1.125rem;
  height: 100%;

  line-height: 112%;
  outline: none;
  padding-left: 15px;
  transition: all 0.3s ease;
  width: 0;

  &::placeholder {
    color: var(--light-green);
  }

  &.active {
    display: inline;
    transition: all 0.4s 0.7s ease;
    width: 100%;
  }
}

.A_quote {
  display: flex;
  flex-direction: column;
  font-family: var(--font-helios_ext_c);
  gap: 24px;
  max-width: 431px;
}

.A_QuoteText {
  font-size: 1.5rem;
  font-weight: 900;
}

.A_QuoteAuthor {
  font-size: 1.125rem;
  font-weight: 700;
}

.A_chapter {
  color: var(--darkGreen);
  font-family: 'Gramatika', sans-serif;
  font-size: 1.12rem;
  font-weight: 400;
  line-height: 112%;
  text-align: right;
  text-decoration: none;
}

.A_Title2Helios {
  font-family: var(--font-helios_ext_c);
  font-size: 2.5rem;
  font-weight: 900;
}

.A_Title2Vlas {
  font-family: var(--font-als_vlas);
  font-size: 1.75rem;
  -webkit-text-stroke: 1px var(--darkGreen);
  text-stroke: 1px var(--darkGreen);
}

.A_Text {
  color: var(--darkGreen);
  font-family: var(--gramatika);
  font-size: 1.125rem;
  font-weight: 400;
}

.A_Link {
  color: var(--caramel);
  font-family: var(--gramatika);
  font-weight: 400;
  line-height: 159%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

@media (max-width: 1440px) {
  .A_quote {
    max-width: 395px;

    .A_QuoteText {
      font-size: 1.375rem;
      line-height: 118%;
    }

    .A_QuoteAuthor {
      font-size: 1rem;
      font-weight: 700;
    }
  }
}
