.C_NavBarCat {
  align-items: center;
  display: flex;
  gap: 36px;
  justify-content: space-between;
  max-width: 419px;

  @media (min-width: 2560px) {
    gap: 106px;
    max-width: 588px;

  }

  @media (max-width: 1440px) {
    gap: 2.441vw;
    max-width: 21.582vw;
  }
}

.C_PreImjs {
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 1296px;

  @media (min-width: 1920px) {
    max-width: 1704px;
  }

  @media (max-width: 1440px) {
    max-width: 89.941vw;
  }
}

.C_TegCloud {
  column-gap: 24px;
  display: flex;
  flex-wrap: wrap;
  max-width: 322px;
  row-gap: 12px;

  @media (max-width: 1440px) {
    column-gap: 1.66vw;
    max-width: 24.414vw;
    row-gap: 1.172vw;
  }
}

.C_TeaTypeCards {
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 1296px;

  @media (min-width: 1920px) {
    max-width: 1704px;
  }

  @media (min-width: 2560px) {
    max-width: 2200px;

  }

  @media (max-width: 1440px) {
    max-width: 89.941vw;
  }
}

.C_CardTitl2 {
  bottom: 37px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  position: absolute;

  .A_CardTitl2 {
    opacity: 0;
  }

}

.C_TeaTypesCards {
  column-gap: 24px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1296px;
  row-gap: 40px;
}


.C_TagCloudBig {
  column-gap: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 1296px;
  row-gap: 12px;
}


.C_MediaCardCouple {
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding-bottom: 113px;
}

.C_ArticleCont {
  display: flex;
  gap: 24px;
}

.C_ArticlePic {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin: 72px auto 0;
  max-width: 1296px;
}

.C_Authors {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.C_Socials {
  display: flex;
  gap: 24px;
}