.C_NavBarCat {
  align-items: center;
  display: flex;
  gap: 36px;
  justify-content: space-between;
  max-width: 419px;
}

.C_PreImjs {
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 1296px;
}

.C_TegCloud {
  column-gap: 24px;
  display: flex;
  flex-wrap: wrap;
  max-width: 322px;
  row-gap: 12px;
}

.C_TeaTypeCards {
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 1296px;
}

.C_CardTitl2 {
  bottom: 37px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  position: absolute;

  .A_CardTitl2 {
    opacity: 0;
  }
}

.C_TeaTypesCards {
  column-gap: 24px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1296px;
  row-gap: 40px;
}


.C_TagCloudBig {
  column-gap: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 1296px;
  row-gap: 12px;
}


.C_MediaCardCouple {
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding-bottom: 113px;
}