.M_Email {
  background: transparent;
  border: none;
  border-bottom: 3px solid black;
  max-width: 926px;
  outline: none;
  padding: 0 0 4px 38px;
  width: 100%;

  &:placeholder-shown {
    color: #bb8f54;
    font-family: 'Gramatika', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 144.444%;
  }
}

.M_Title2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.M_SearchIcon {
  align-items: center;

  display: flex;
  gap: 10px;
  height: 34px;
  transition: all 0.3s ease;

  button {
    @include displayFlex;
    @include contentCenter;
    background: transparent;
    border: none;
    cursor: pointer;

    max-width: 25px;
    padding: 0;
  }

  &.active {
    border-bottom: 1px solid var(--darkGreen);
    transition: all 0.5s ease;
  }
}

@media (min-width: 1024px) {
  .M_Email {
    max-width: 1234px;
  }
}
