.O_NavBar {
  background: var(--biege-transparent);
  display: flex;
  justify-content: center;
  left: 50%;
  padding: 35px 0;
  position: fixed;
  transform: translateX(-50%);
  transition: all 0.2s ease-in-out;
  width: 100%;
  z-index: 2;

  &:hover {
    background: var(--beige);
  }
}

.O_StartComp {
  display: flex;
  min-height: 100vh;
  overflow: hidden;
  position: relative;

  .Q_dgimg {
    bottom: 0;
    left: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
  }

  .A_quote {
    grid-column: -6 / span 4;
    position: absolute;
    top: 282px;
  }
}

.O_PreCategory {
  column-gap: 24px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  .W_TextLink {
    grid-column: -7 / -2;
  }

  .M_Title2 {
    grid-column: span 5;
  }
}

@media (min-width: 1920px) {
  .O_StartComp {
    .A_quote {
      top: 316px;
    }
  }
  .O_PreCategory {
    column-gap: 24px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    .W_TextLink {
      grid-column: -7 / span 4;
    }

    .M_Title2 {
      grid-column: span 4;
    }
  }
}

@media (max-width: 1440px) {
  .O_StartComp {
    .A_quote {
      top: 205px;
      grid-column: -7 / span 6;
    }
  }
}
