.O_NavBar {
  background: var(--biege-transparent);
  display: flex;
  justify-content: center;
  left: 50%;
  padding: 35px 0;
  position: fixed;
  transform: translateX(-50%);
  transition: all 0.2s ease-in-out;
  width: 100%;
  z-index: 2;

  &:hover {
    background: var(--beige-d);
  }
}

.O_StartComp {
  display: flex;
  min-height: 100vh;
  overflow: hidden;
  position: relative;

  .Q_dgimg {
    bottom: 0;
    left: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
  }

  .A_quote {
    grid-column: -6 / span 4;
    position: absolute;
    top: 282px;
  }
}

.O_PreCategory {
  column-gap: 24px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin: 0 auto;
  max-width: 1296px;

  .W_TextLink {
    grid-column: -7 / -2;
  }

  .M_Title2 {
    grid-column: span 6;
  }
}

.O_PreArticle {
  column-gap: 24px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin: 62px auto 0;
  max-width: 1296px;

  .A_Title2Helios {
    grid-column: span 5;
  }

  .W_TextLink {
    grid-column: -8 / -2;
  }
}

.O_RecipeCardL {
  background: var(--beige-l);
  column-gap: 24px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin: 0 auto;
  max-width: 1296px;

  .W_RecipeCardLeft {
    grid-column: span 5;
  }

  .M_Title2 {
  }
}

.O_Banner {
  background-image: url('/src/images/index/Banner_Img.png');
  background-position: 50% 90%;
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 565px;
}

.O_Subscribe {
  background: var(--beige-l);
  padding: 125px 0 165px;
}

.O_Subscribe {
  .A_Describe {
    grid-column: 7 / -2;
  }

  .W_Container {
    grid-template-rows: 1fr 1fr;
    row-gap: 15px;
  }

  .A_Title2Vlas {
    grid-column: 6 / -2;
    text-align: right;
  }
}

.O_TeaType {
  background-color: var(--beige-d);
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  gap: 30px;
  //max-width: 1368px;
  overflow-x: hidden;
  padding: 57px 0 45px 110px;
  position: relative;

  .W_TextLink {
    max-width: 500px;
  }

  .A_SliderButtonRight {
    bottom: 65px;
    position: absolute;
    right: 163px;
  }

  .A_SliderButtonLeft {
    bottom: 65px;
    position: absolute;
    right: 290px;
  }
}

.O_TeaCaracters {
  .M_Title3 {
    grid-column: 2 / span 5;
  }

  .W_TeaTable {
    display: flex;
    flex-direction: column;
    gap: 16px;
    grid-column: 2 / span 9;
    margin-top: 35px;
  }
}

.O_RecipesRec {
  column-gap: 24px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin: 138px auto 0;
  max-width: 1296px;
  padding-bottom: 103px;
  position: relative;
  row-gap: 30px;

  .A_Tag-Active {
    background: var(--green);
    position: absolute;
    right: 0;
    text-decoration: none;
    top: 50px;


    span {
      color: var(--beige-l);
      font-size: 1.125rem;
      line-height: 114%;
      text-align: justify;

    }
  }

  .M_Title3 {
    grid-column: span 8;
  }

  //.C_RecipeCardS {
  //  display: flex;
  //  flex-wrap: wrap;
  //  grid-column: span 12;
  //  grid-row: 2;
  //  justify-content: space-between;
  //  margin: 0 auto;
  //  max-width: 1296px;
  //
  //}
}

.C_RecipeCardS {
  display: flex;
  flex-wrap: wrap;
  grid-column: span 12;
  grid-row: 2;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1296px;

}

.O_RecipeCardS {
  background: var(--beige-d);
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 306px;

  .W_RecipeCardSBottom {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 0 25px 25px;
  }

  .C_TegCloud {
    column-gap: 12px;
    row-gap: 8px;
  }

  img {

    width: 100%;
  }
}

.O_SearchResult {
  background: var(--beige-d);
  display: none;
  padding: 0 0 136px;

}

@media (min-width: 1920px) {
  .O_StartComp {
    .A_quote {
      top: 316px;
    }
  }
  .O_PreCategory {
    column-gap: 24px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    .W_TextLink {
      grid-column: -7 / span 4;
    }

    .M_Title2 {
      grid-column: span 4;
    }
  }
}

@media (max-width: 1440px) {
  .O_StartComp {
    .A_quote {
      grid-column: -7 / span 6;
      top: 205px;
    }
  }
}
