.O_NavBar {
  background: var(--biege-transparent);
  display: flex;
  justify-content: center;
  left: 50%;
  padding: 25px 0;
  position: fixed;
  transform: translateX(-50%);
  transition: all 0.2s ease-in-out;
  width: 100%;
  z-index: 2;

  &:hover {
    background: var(--beige-d);
  }

  @media (max-width: 1440px) {
    padding: 2.246vw 0;

  }
}

.O_StartComp {
  display: flex;
  min-height: 100vh;
  overflow: hidden;
  position: relative;

  .Q_dgimg {
    bottom: 0;
    left: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
  }

  .A_quote {
    grid-column: -6 / span 4;
    position: absolute;
    top: 282px;


  }
}

.O_PreCategory {
  column-gap: 24px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin: 0 auto;
  max-width: 1296px;

  .W_TextLink {
    grid-column: -7 / -3;


  }

  .M_Title2 {
    grid-column: span 6;
  }


  @media (min-width: 1920px) {
    grid-column: span 7;
    max-width: 1704px;
  }
  @media (min-width: 2560px) {
    column-gap: 32px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    max-width: 2200px;

  }

  @media (max-width: 1440px) {
    column-gap: 1.66vw;
    max-width: 89.844vw;
  }
}

.O_PreArticle {
  column-gap: 24px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin: 62px auto 0;
  max-width: 1296px;

  .A_Title2Helios {
    grid-column: span 5;
  }

  .W_TextLink {
    grid-column: -8 / -2;
  }
}

.O_RecipeCardL {
  background: var(--beige-l);
  column-gap: 24px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin: 0 auto;
  max-width: 1296px;

  .W_RecipeCardLeft {
    grid-column: span 5;
  }

  @media (min-width: 1920px) {
    max-width: 1704px;
  }

  @media (min-width: 2560px) {
    max-width: 2200px;
  }

  @media (max-width: 1440px) {
    max-width: 89.941vw;
  }
}

.O_Banner {
  background-image: url('/src/images/index/Banner_Img.png');
  background-position: 50% 90%;
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 565px;
}

.O_Subscribe {
  background: var(--beige-l);
  padding: 125px 0 165px;


  .A_Title2Vlas {
    font-size: 1.875rem;
  }

}

.O_Subscribe {
  .A_Describe {
    grid-column: 8 / -2;
    max-width: 374px;
    width: 100%;

    @media (min-width: 2560px) {
      grid-column: 7 / 11;
      max-width: 578px;
    }
  }

  .W_Container {
    justify-items: end;
    row-gap: 25px;
  }

  .A_Title2Vlas {
    grid-column: 6 / -2;
    text-align: right;

    @media (min-width: 2560px) {
      grid-column: 7 / 11;
    }
  }
}

.O_TeaType {
  background-color: var(--beige-d);
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  gap: 30px;
  //max-width: 1368px;
  overflow-x: hidden;
  padding: 57px 0 45px 110px;
  position: relative;

  .W_TextLink {
    max-width: 500px;

    @media (max-width: 1440px) {
      max-width: 36.523vw;
    }
  }

  .A_SliderButtonRight {
    bottom: 65px;
    position: absolute;
    right: 163px;
  }

  .A_SliderButtonLeft {
    bottom: 65px;
    position: absolute;
    right: 290px;
  }
}

.O_TeaCaracters {
  .M_Title3 {
    grid-column: 2 / span 5;
  }

  .W_TeaTable {
    display: flex;
    flex-direction: column;
    gap: 16px;
    grid-column: 2 / span 9;
    margin-top: 35px;
  }
}

.O_RecipesRec {
  column-gap: 24px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin: 138px auto 0;
  max-width: 1296px;
  padding-bottom: 103px;
  position: relative;
  row-gap: 30px;

  .A_Tag-Active {
    background: var(--green);
    position: absolute;
    right: 0;
    text-decoration: none;
    top: 50px;

    span {
      color: var(--beige-l);
      font-size: 1.125rem;
      line-height: 114%;
      text-align: justify;
    }
  }

  .M_Title3 {
    grid-column: span 8;
  }

  //.C_RecipeCardS {
  //  display: flex;
  //  flex-wrap: wrap;
  //  grid-column: span 12;
  //  grid-row: 2;
  //  justify-content: space-between;
  //  margin: 0 auto;
  //  max-width: 1296px;
  //
  //}
}

.C_RecipeCardS {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  grid-column: span 12;
  grid-row: 2;
  margin: 0 auto;
  max-width: 1296px;
  width: 100%;
}

.O_RecipeCardS {
  background: var(--beige-d);
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  gap: 24px;
  max-width: 306px;
  min-height: 0;

  .W_RecipeCardSBottom {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 0 25px 25px;
  }

  .C_TegCloud {
    column-gap: 12px;
    row-gap: 8px;

    @media (max-width: 1440px) {
      column-gap: 1.66vw;
      row-gap: 1.172vw;
    }
  }

  img {
    width: 100%;
  }
}

.O_SearchResult {
  background: var(--beige-d);
  display: none;
  padding: 0 0 136px;
}

.O_RecipeComps {
  display: flex;
  flex-direction: column;
  gap: 61px;
  grid-column: span 4;
  margin-top: 164px;
}

.O_RecipeInfo2 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  grid-column: 6 / -2;
  margin-top: 110px;
}

.O_MediaCardCouple {
  column-gap: 24px;
  display: grid;
  grid-column: span 12;
  grid-template-columns: repeat(12, 1fr);
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;

  @media (max-width: 1440px) {
    column-gap: 1.66vw;
    max-width: 100vw;

  }


  @media (min-width: 1920px) {
    max-width: 1920px;
  }

  @media (min-width: 2560px) {
    max-width: 2560px;
  }

  .O_MediaCardS {
    display: flex;
    flex-direction: column;
    gap: 48px;
    grid-column: span 4;

    @media (min-width: 1920px) {
      .A_Text {
        max-width: 416px
      }
    }

    @media (max-width: 1440px) {
      gap: 3.32vw;

    }

    .M_MediaTitleS {
      display: flex;
      flex-direction: column;
      gap: 12px;

      @media (max-width: 1440px) {
        gap: 0.781vw;

      }
    }

    img {
      aspect-ratio: 416 / 224;
      object-fit: cover;
      width: 100%;
    }
  }

  .O_MediaCardL {
    display: flex;
    flex-direction: column;
    gap: 48px;
    grid-column: 5 / span 8;

    @media (min-width: 1920px) {
      .A_Text {
        max-width: 856px
      }
    }

    @media (max-width: 1440px) {
      gap: 3.32vw;
    }

    .M_MediaTitleS {
      display: flex;
      flex-direction: column;
      gap: 12px;

      @media (max-width: 1440px) {
        gap: 0.781vw;
      }
    }

    img {
      aspect-ratio: 856 / 308;
      object-fit: cover;
      width: 100%;
    }
  }
}

.O_MediaCardCoupleReverse {
  .O_MediaCardL {
    grid-column: span 8;
  }

  .O_MediaCardS {
    grid-column: -5 / span 4;
  }
}

.O_ArticleInfo {
  column-gap: 24px;
  display: grid;
  grid-column: span 12;
  grid-template-columns: repeat(12, 1fr);
  margin: 0 auto;
  max-width: 1296px;
  row-gap: 24px;

  .C_ArticleCont {
    grid-column: span 12;
  }
}

.O_Fact {
  column-gap: 24px;
  display: grid;
  grid-column: span 12;
  grid-template-columns: repeat(12, 1fr);
  margin: 72px auto 0;
  max-width: 1296px;
  position: relative;

  .W_SocailsImg {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    right: 601px;
    top: 45px;

  }


}

.O_Footer {
  background: var(--darkGreen);
  padding: 64px 0;
}

@media (min-width: 1920px) {
  .O_StartComp {
    .A_quote {
      top: 316px;
    }
  }

}

@media (max-width: 1440px) {
  .O_StartComp {
    .A_quote {
      grid-column: -7 / span 6;
      top: 205px;
    }
  }
}

@media (min-width: 2560px) {
  .O_StartComp {
    .A_quote {
      grid-column: -5 / span 4;
      top: 520px;
    }
  }

}

@media (max-width: 1440px) {
  .O_StartComp {
    .A_quote {
      top: 19.531vw;
    }
  }

}
