.S_Recipes {
  background-color: #f7f2e6;
}

.S_Collection {
  background-color: #f7f2e6;
}

.S_MasterClass {
  background: url('/src/images/index/background.png') no-repeat center;
}

.S_AfterWork {
  background-color: #f7f2e6;
}

.S_Subscription {
  background-color: #f7f2e6;
}
