.W_StartComp {
  column-gap: 24px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  height: 100%;
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 72px;
  position: relative;
  width: 100%;
}

.W_NavBarCat {
  align-items: center;
  display: flex;
  gap: 84px;
  justify-content: space-between;
}

.W_NavBar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: 1296px;
  width: 100%;
}

.W_Categories {
  background: var(--beige-bckg);
  margin: auto;
  padding: 62px 0 0;
}

.W_CategoriesLight {
  background: var(--beige-l);
}

.W_TextLink {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.W_PreImjs {
  background-color: var(--beige-bckg);
  background-image: url('/src/images/index/Q_LineCircle.svg');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;

  margin: auto;

  padding: 62px 0 78px;
}

.W_RecipeCardText {
  display: flex;
  flex-direction: column;
  gap: 30px;

  .A_Text {
    max-width: 450px;
  }
}

.W_RecipeCardLeft {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 0 38px 24px;
}

.W_RecipeCardL {
  align-items: center;
  background: var(--beige-bckg);
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
}

.W_QuoteLBack {
  background: var(--beige-l);
  display: block;
  padding: 271px 0 271px;
  text-decoration: none;
}

.W_Container {
  align-items: center;
  column-gap: 24px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 72px;

  .A_Lead {
    grid-column: 2 / 11;
    margin: 90px 0;
  }
}

.W_ContainerMediaCard {
  display: flex;
  flex-direction: column;
  gap: 32px;

  .A_Link {
    margin-top: 12px;
  }
}

.W_LeadContainer {
  column-gap: 24px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 72px;
  position: relative;

  .A_Lead {
    grid-column: 2 / 11;
    margin: 96px 0;
  }

  .A_SliderButton {
    grid-column: 1 / span 2;
    position: absolute;
    top: -19px;
  }
}

.W_QuoteL {
  grid-column: 3 / span 9;
  max-width: 856px;

  .A_QuoteH {
    margin-bottom: 16px;
    max-width: 830px;
  }

  .A_QuoteTxt {
    margin-bottom: 28px;
  }
}

.W_CardTitle {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.W_TeaTypeCards {
  background: var(--beige-l);
  padding: 62px 0 215px;
}

.W_Banner {
  margin: 0 auto;
  max-width: 1296px;
  padding: 72px 0 0;
}

.W_LinkContainer {
  margin: 0 auto;
  max-width: 1440px;
  padding: 30px 72px 0;
}

.W_BannerLink {
  background-color: var(--beige-l);
}

.W_SectionDescription {
  padding: 156px 0 68px;

  .A_Title1 {
    grid-column: span 2;
  }

  .A_Text {
    grid-column: 6 / -3;
  }
}

.W_Source {
  column-gap: 24px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin: 0 auto;
  max-width: 1296px;
  padding: 87px 0 187px;

  .A_Text:first-child {
    grid-column: 2 / span 2;
  }

  .A_Text:last-child {
    grid-column: -7 / -2;
  }
}

.W_TeaType {
  display: flex;
  justify-content: center;
  margin-bottom: 31px;
  padding-left: clamp(4.5625rem, -39.592rem + 49.0605vw, 19.25rem);
}

.W_TeaType:last-of-type {
  padding-bottom: 233px;
}

.W_Text {
  column-gap: 24px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin: 0 auto;
  max-width: 1296px;
  padding: 116px 0 166px;

  .A_Text:first-child {
    grid-column: span 5;
  }

  .A_Text:last-child {
    grid-column: -7 / span 5;
  }
}

.W_SearchResult {
  column-gap: 24px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1296px;
  row-gap: 43px;
}

.W_RecipeTableRows {
  column-gap: 24px;
  display: flex;
  flex-direction: column;
}

.W_MediaCard {
  background: var(--beige-l);

  .M_Title2 {
    grid-column: span 5;
  }
}

.W_RecipeButton {
  .A_Describe {
    grid-column: 6 / -4;
    margin-top: 37px;
    max-width: 377px;
  }
}

@media (min-width: 1920px) {
  .W_NavBar {
    max-width: 1638px;
  }

  .W_Categories {
    max-width: 1920px;
    padding: 67px 72px 0;
  }

  .W_StartComp {
    max-width: 1920px;
  }
}

@media (max-width: 1440px) {
  .W_StartComp {
    column-gap: 16px;
    max-width: 1440px;
    padding: 0 28px;
  }
}
