html,
body {
  font-smooth: never;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;

  text-rendering: optimizeLegibility;
}

body,
.wrapper {
  overflow-x: hidden;
}

*,
::before,
::after {
  box-sizing: border-box;
}

.S_Main {
  .W_RecipeCardL {
    padding: 44px 0 65px;

    @media (min-width: 1920px) {
      padding: 174px 0 65px;
    }

    //@media (min-width: 2560px) {
    //  padding: 158px 0 116px;
    //}

    @media (max-width: 1439px) {
      padding: 46px 0;
    }

    @media (max-width: 1023px) {
      padding: 67px 36px 54px;
    }

    @media (max-width: 743px) {
      padding: 45px 30px 54px;
    }
  }
}

.S_Fermentation {
  background-color: #fcf6ee;
  overflow-x: hidden;
  position: relative;
}

.body-recepies {
  background-color: var(--beige-d);

  .O_RecipeCardS {
    background: var(--beige-l);
  }


}

