html,
body {
  font-smooth: never;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;

  text-rendering: optimizeLegibility;
}

body,
.wrapper {
  overflow-x: hidden;
}

*,
::before,
::after {
  box-sizing: border-box;
}

.body-index {
  .W_RecipeCardL {
    padding: 94px 0 65px;

    @media (min-width: 2560px) {
      padding: 158px 0 116px;
    }
  }


}

.body-fermentation {
  background-color: #fcf6ee;
  overflow-x: hidden;
  position: relative;
}

.body-recepies {
  background-color: var(--beige-d);

  .O_RecipeCardS {
    background: var(--beige-l);
  }


  .C_RecipeCardS {
    padding: 49px 0 0;
  }
}

.body-Indian_Black_Tea {
  .C_PreImjs {
    margin-top: 164px;
    padding-bottom: 164px;
  }
}
