@import 'mixins';

.verticalLine-top {
  height: 25.9vh;
  left: 50%;
  max-height: 319px;
  max-width: 23px;
  //width: 1.22vw;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
}

.verticalLine-bottom {
  bottom: 0;
  height: 25.9vh;
  left: 50%;
  max-height: 319px;
  //width: 1.22vw;
  max-width: 23px;
  position: absolute;
  transform: translateX(-50%) rotate(180deg);
  z-index: 0;
}

.link-wrapper {
  align-items: center;
  border-radius: 17.688px;
  display: flex;
  justify-content: center;
  max-height: 83px;
  max-width: 211px;
  min-height: 4.38vw;
  min-width: 11.15vw;
  position: absolute;
  right: 0;

  &:hover {
    background-color: rgba(217, 217, 217, 0.3);
    transition: background 0.2s ease;
  }
}

body {
  font-smooth: never;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

%toast-btn {
  backdrop-filter: blur(85px);
  background: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 3.385vw;
  color: var(--beige);
  cursor: pointer;
  font-family: var(--commons);
  font-size: 1.042vw;
  font-weight: 600;
  gap: 0.99vw;
  padding: 0.677vw 2.083vw;
  @include displayFlex;
  @include contentCenter;
  width: auto;

  @media (min-width: 1920px) {
    font-size: 1.249vw;
    padding: 1.041vw 2.447vw;
  }
  @media (max-width: 1024px) {
    font-size: 3.128vw;
    gap: 2.933vw;
    padding: 2.053vw 6.256vw;
  }

  .toast-icon {
    @include displayFlex;
    @include contentCenter;

    @media (max-width: 1024px) {
      img {
        width: 4.79vw;
      }
    }
  }
}

%bold-text {
  font-family: var(--backwardsBlack);
  font-weight: 900;
}

%commons-text {
  font-family: var(--commons);
  font-weight: 450;
}

%helvetica-text {
  font-family: var(--helveticaNeue);
  font-weight: 400;
}

%lithium-text {
  font-family: var(--lithium);
  font-weight: 400;
}

%green-toast {
  background: var(--green2A3C2C);
  @include displayFlex;
  @include contentCenter;
  border-radius: 30px;
  color: var(--beige);
  font-family: var(--helveticaNeue);
  font-size: 1.25vw;
  padding: 1.563vw 1.823vw;

  @media (max-width: 1024px) {
    font-size: 2.25vw;
  }
}
