@import 'mixins';

.verticalLine-top {
  height: 25.9vh;
  left: 50%;
  max-height: 319px;
  max-width: 23px;
  //width: 1.22vw;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
}

.verticalLine-bottom {
  bottom: 0;
  height: 25.9vh;
  left: 50%;
  max-height: 319px;
  //width: 1.22vw;
  max-width: 23px;
  position: absolute;
  transform: translateX(-50%) rotate(180deg);
  z-index: 0;
}

.link-wrapper {
  align-items: center;
  border-radius: 17.688px;
  display: flex;
  justify-content: center;
  max-height: 83px;
  max-width: 211px;
  min-height: 4.38vw;
  min-width: 11.15vw;
  position: absolute;
  right: 0;

  &:hover {
    background-color: rgba(217, 217, 217, 0.3);
    transition: background 0.2s ease;
  }
}

body {
  font-smooth: never;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

%toast-btn {
  backdrop-filter: blur(85px);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 3.385vw;
  color: var(--beige);
  cursor: pointer;
  font-family: var(--commons);
  font-size: 1.042vw;
  font-weight: 600;
  gap: 0.99vw;
  height: 2.917vw;
  padding: 0.6vw 2.083vw 0.677vw;
  text-decoration: none;
  vertical-align: middle;
  @include displayFlex;
  @include contentCenter;
  width: auto;

  span {
    position: relative;
    top: -0.06vw;
  }

  i {
    height: 100%;
    @include displayFlex;
    @include contentCenter;
  }

  @media (min-width: 1920px) {
    font-size: 1.249vw;
    height: 3.542vw;
    padding: 1.041vw 2.447vw;

    span {
      top: -0.16vw;
    }
  }
  @media (max-width: 1024px) {
    font-size: 3.128vw;
    gap: 2.933vw;
    height: 9.082vw;
    padding: 2.053vw 6.256vw;

    span {
      top: -0.4vw;
    }
  }

  .toast-icon {
    @include displayFlex;
    @include contentCenter;

    @media (max-width: 1024px) {
      img {
        width: 4.79vw;
      }
    }
  }
}

%bold-text {
  font-family: var(--backwardsBlack);
  font-weight: 900;
}

%commons-text {
  font-family: var(--commons);
  font-weight: 450;
}

%helvetica-text {
  font-family: var(--helveticaNeue);
  font-weight: 400;
}

%lithium-text {
  font-family: var(--lithium);
  font-weight: 400;
}

%green-toast {
  background: var(--green2A3C2C);
  @include displayFlex;
  @include contentCenter;
  border-radius: 1.563vw;
  color: var(--beige);
  font-family: var(--helveticaNeue);
  font-size: 1.25vw;
  padding: 1.4vw 1.7vw;

  @media (max-width: 1024px) {
    font-size: 2.25vw;
  }
}

.footer {
  @include displayFlex;
  color: var(--beige);
  font-family: var(--helveticaNeueBold);
  font-size: 1.042vw;
  font-weight: 700;
  justify-content: space-between;
  padding: 0 5.365vw 5.781vw;

  @media (max-width: 1024px) {
    @include flexDirection(row-reverse);
    align-items: flex-end;
    font-size: 2.542vw;
    padding: 0 9.189vw 9.57vw;
  }

  &__left {
    align-items: flex-start;
    @include displayFlex;
    gap: 10.729vw;
    margin-top: 0.781vw;
  }

  &__right {
    @include displayFlex;
    align-items: flex-start;
    gap: 6.823vw;
    @media (max-width: 1024px) {
      @include flexDirection(column);
    }
  }

  .socials {
    @include displayFlex;
    gap: 1.563vw;

    .telegram {
      width: 2.344vw;
      @media (max-width: 1024px) {
        width: 3.91vw;
      }
    }

    .vk {
      width: 3.958vw;
      @media (max-width: 1024px) {
        width: 6.647vw;
      }
    }

    .dzen {
      width: 2.604vw;
      @media (max-width: 1024px) {
        width: 4.399vw;
      }
    }

    .youtube {
      width: 3.75vw;
      @media (max-width: 1024px) {
        width: 6.256vw;
      }
    }
  }

  .footer__people {
    @include displayFlex;
    @include flexDirection(column);
    gap: 0.573vw;
    margin-top: 0.781vw;

    @media (max-width: 1024px) {
      margin-top: 0;
    }
  }
}
