@font-face {
  font-family: 'Lemony Personal Use';
  font-style: normal;
  font-weight: normal;
  src:
    local('Lemony Personal Use'),
    url('/src/fonts/LemonyPersonalUse.woff2') format('woff2'),
    url('/src/fonts/LemonyPersonalUse.woff') format('woff');
}

@font-face {
  font-family: 'TT Commons Pro Edu';
  font-style: normal;
  font-weight: normal;
  src:
    local('TT Commons Pro Edu'),
    url('/src/fonts/TTCommonsProEducationalVariable.woff2') format('woff2'),
    url('/src/fonts/TTCommonsProEducationalVariable.woff') format('woff');
}

@font-face {
  font-family: 'TT Backwards Sans Edu Black';
  font-style: normal;
  font-weight: 900;
  src:
    local('TT Backwards Sans Edu'),
    url('/src/fonts/TT-Backwards-Sans-BlackEducational.woff2') format('woff2'),
    url('/src/fonts/TT-Backwards-Sans-BlackEducational.woff') format('woff');
}

@font-face {
  font-family: 'TT Backwards Sans Edu Bold';
  font-style: normal;
  font-weight: 700;
  src:
    local('TT Backwards Sans Edu'),
    url('/src/fonts/TT-Backwards-Sans-BoldEducational.woff2') format('woff2'),
    url('/src/fonts/TT-Backwards-Sans-BoldEducational.woff') format('woff');
}

@font-face {
  font-family: 'Lithium';
  font-style: normal;
  font-weight: normal;
  src:
    local('Lithium'),
    url('/src/fonts/Lithium.woff2') format('woff2'),
    url('/src/fonts/Lithium.woff') format('woff');
}

@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 400;
  src:
    local('Helvetica Neue'),
    url('/src/fonts/HelveticaNeueCyr-Roman.woff2') format('woff2'),
    url('/src/fonts/HelveticaNeueCyr-Roman.woff') format('woff');
}

@font-face {
  font-family: 'Helvetica Neue Bold';
  font-style: normal;
  font-weight: 400;
  src:
    local('Helvetica Neue'),
    url('/src/fonts/HelveticaNeueCyr-Bold.woff2') format('woff2'),
    url('/src/fonts/HelveticaNeueCyr-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Gramatika';
  font-style: normal;
  font-weight: 400;
  src:
    url('/src/fonts/Gramatika-Regular.woff2') format('woff2'),
    url('/src/fonts/Gramatika-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Gramatika';
  font-style: normal;
  font-weight: 700;
  src:
    url('/src/fonts/Gramatika-Bold.woff2') format('woff2'),
    url('/src/fonts/Gramatika-Bold.woff') format('woff');
}


@font-face {
  font-family: 'HeliosExtC';
  font-style: normal;
  font-weight: 700;
  src:
    url('/src/fonts/HeliosExtC-Bold.woff2') format('woff2'),
    url('/src/fonts/HeliosExtC-Bold.woff') format('woff');
}

@font-face {
  font-family: 'HeliosExtC';
  font-style: normal;
  font-weight: 400;
  src:
    url('/src/fonts/HeliosExtC.woff2') format('woff2'),
    url('/src/fonts/HeliosExtC.woff') format('woff');
}


@font-face {
  font-family: 'HeliosExtC';
  font-style: normal;
  font-weight: 900;
  src:
          url('/src/fonts/HeliosExtBlackC.woff2') format('woff2'),
          url('/src/fonts/HeliosExtBlackC.woff') format('woff');
}

@font-face {
  font-family: 'ALS Vlas';
  font-style: normal;
  src:
    url('/src/fonts/ALS_Vlas.woff2') format('woff2'),
    url('/src/fonts/ALS_Vlas.woff') format('woff');
}
