.body-index {
  .fullscreen {
    animation: blur 2s ease;
    background-image: image-set(
      url('/src/images/fullscreen.avif') 1x,
      url('/src/images/fullscreen.webp') 1x,
      url('/src/images/fullscreen.png') 1x
    );
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    display: flex;
    filter: blur(0);
    min-height: 100vh;
    padding: 2.6vw 1.48vw 0;
    position: relative;

    @keyframes blur {
      from {
        filter: blur(20px);
      }
    }

    &__body {
      align-items: flex-end;
      display: flex;
      flex: 1 1 auto;
      justify-content: center;
      margin: 0 auto;
      max-width: 1920px;
      position: relative;
      width: 100%;
    }

    &__text {
      align-items: center;
      //bottom: 10px;
      //top: 16vw;
      //bottom: -27vh;
      color: var(--beige);
      display: flex;
      flex-direction: column;
      justify-content: center;
      left: 50%;
      position: relative;
      transform: translateX(-50%);
    }

    &__title {
      display: block;
      font-family: var(--backwardsBlack);
      font-size: clamp(7.4375rem, -0.1644rem + 33.7861vw, 40.3789375rem);
      font-weight: 900;
      line-height: 75%;
      margin: 0 auto;

      &--lithium {
        font-family: 'Lithium', sans-serif;
        font-size: clamp(9.375rem, -0.101rem + 42.1154vw, 50.4375rem);
        font-weight: 400;
      }
    }

    &__subtitle {
      font-family: 'TT Commons Pro Edu', sans-serif;
      font-size: clamp(1.0625rem, 0.6811rem + 1.9072vw, 2.9375rem);
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      position: absolute;
      right: 4vw;
      top: -5vw;
    }

    &__link-wrapper {
      margin: 0 0.6vw 0 0;
    }
  }

  .recipes {
    background: #2a3c2c;

    &__container {
      align-items: center;
      display: flex;
      justify-content: center;
      margin: 0 auto;
      max-width: 1920px;
      padding: 10.104vw 5.365vw;
      width: 100%;
      @media (min-width: 1920px) {
        padding: 194px 103px;
      }
    }

    &__body {
      display: flex;
      gap: 2.24vw;
      width: 100%;

      @media (min-width: 1920px) {
        gap: 43px;
      }
    }

    &__buckthornSbiten {
      background: url('/src/images/recipe_sbiten.png') no-repeat;
      background-size: cover;
      border-radius: 2.396vw;
      max-width: 32.083vw;
      position: relative;
      width: 100%;

      @media (min-width: 1920px) {
        border-radius: 46px;
        max-width: 616px;
      }
    }

    &__compilations {
      background: #f6f0e0;
      border-radius: 2.396vw;
      display: flex;
      flex-direction: column;
      gap: 3.49vw;
      padding: 0.521vw 2.083vw 3.646vw;
      width: 100%;

      @media (min-width: 1920px) {
        border-radius: 46px;
        gap: 67px;
        padding: 10px 40px 70px;
      }
    }

    &__compilationsImages {
      align-items: flex-end;
      display: flex;
      justify-content: center;
    }

    &__compilationsImage:first-child {
      border-radius: 30px;
      max-width: 292px;
      width: 15.208vw;
    }

    &__compilationsImage:nth-child(2) {
      border-radius: 70%;
      max-width: 235px;
      width: 12.24vw;
    }

    &__compilationsImage:nth-child(3) {
      border-radius: 30px;
      max-width: 419px;
      width: 21.823vw;
    }

    &__text {
      color: var(--darkGreen);
      font-family: var(--lithium);
      font-size: clamp(1.5rem, -0.075rem + 7.875vw, 9.375rem);
      font-weight: 400;
      line-height: 70%;
    }

    &__text--bold {
      font-family: var(--backwardsBlack);
      font-weight: 900;
      margin-bottom: 1.406vw;

      @media (min-width: 1920px) {
        margin-bottom: 27px;
      }
    }

    &__toast {
      bottom: 1.823vw;
      position: absolute;
      right: 0.833vw;

      @media (min-width: 1920px) {
        bottom: 35px;
        right: 16px;
      }
    }
  }

  .lib {
    background: #bb8f54;

    &__container {
      margin: 0 auto;
      max-width: 1920px;
      padding: 4.271vw 2.865vw 1.615vw;
      @media (min-width: 1920px) {
        padding: 82px 55px 31px;
      }
    }

    &__body {
      display: flex;
      flex-direction: column;
      gap: 2.188vw;
      @media (min-width: 1920px) {
        gap: 42px;
      }
    }

    &__heading {
      color: var(--beige);
      display: flex;
      flex-direction: column;
      font-family: var(--lithium);
      font-size: clamp(1.5rem, -0.075rem + 7.875vw, 9.375rem);
      font-style: normal;
      font-weight: 400;
      gap: 1.615vw;
      line-height: 70%;
      padding: 0 1.042vw;

      @media (min-width: 1920px) {
        gap: 31px;
        padding: 0 20px;
      }
    }

    &__heading--bottom {
      font-family: var(--backwardsBlack);
      text-align: end;
    }

    &__images {
      background-color: var(--beige);
      background-image: var(--beige);
      border-radius: 2.396vw;
      display: flex;
      gap: 0.573vw;
      min-height: 38.125vw;
      padding: 5.208vw 3.229vw;
      width: 100%;

      @media (min-width: 1920px) {
        border-radius: 46px;
        gap: 11px;
        min-height: 732px;
        padding: 100px 62px;
      }
    }

    &__image {
      background-color: var(--green2A3C2C);
      border-radius: 1.563vw;
      color: var(--beige);
      font-family: var(--commons);
      font-size: clamp(0.3125rem, -0.0125rem + 1.625vw, 1.9375rem);
      font-weight: 450;
      line-height: normal;
      padding: 1.563vw 2.083vw;

      @media (min-width: 1920px) {
        padding: 30px 40px;
        border-radius: 30px;
      }
    }

    &__property {
      flex: 1 0 auto;
    }

    &__chu {
      background: url('/src/images/tea_texture.png') no-repeat center center;
      background-size: cover;
      position: relative;
      width: 100%;
    }

    &__toast {
      bottom: 2.135vw;
      left: 2.5vw;
      position: absolute;

      @media (min-width: 1920px) {
        bottom: 41px;
        left: 48px;
      }
    }
  }
}
