@import 'elements';
@import 'mixins';
@import 'vars';

.body-index {
  .wrapper {
    background: #1f2522;
  }

  .fullscreen {
    animation: blur 2s ease;
    box-sizing: border-box;
    display: flex;
    filter: blur(0);
    min-height: 100vh;
    padding: 2.6vw 3.125vw 0;
    position: relative;

    @keyframes blur {
      from {
        filter: blur(20px);
      }
    }

    &__body {
      align-items: flex-end;
      display: flex;
      flex: 1 1 auto;
      justify-content: center;
      margin: 0 auto;
      //max-width: 1920px;
      position: relative;
      width: 100%;
    }

    &__text {
      color: var(--beige);
      display: flex;
      @include flexDirection(column);
      @include contentCenter;
      left: 50%;
      position: relative;
      transform: translateX(-50%);
    }

    &__title {
      @extend %bold-text;
      display: block;
      font-size: 33vw;
      line-height: 75%;
      margin: 0 auto;

      &--lithium {
        font-family: 'Lithium', sans-serif;
        font-size: 40.078vw;
        font-weight: 400;
      }
    }

    &__subtitle {
      @extend %helvetica-text;
      font-size: 3.125vw;
      position: absolute;
      right: 4vw;
      top: -5vw;

      @media (max-width: 1024px) {
        font-size: 4.106vw;
        top: -11vw;
      }
    }

    &__link-wrapper {
      margin: 0 0.6vw 0 0;
    }

    .blur {
      background-image: image-set(
        url('/src/images/fullscreen.avif') 1x,
        url('/src/images/fullscreen.webp') 1x,
        url('/src/images/fullscreen.png') 1x
      );
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      bottom: -40px;
      filter: blur(25px);
      left: -40px;
      position: absolute;
      right: -40px;
      top: -40px;
    }
  }

  .recipes {
    &__container {
      @include displayFlex;
      @include contentCenter;
      margin: 0 auto;
      //max-width: 1920px;
      padding: 10.104vw 3.125vw;
      width: 100%;
      //@media (min-width: 1920px) {
      //  padding: 194px 103px;
      //}
      @media (max-width: 1024px) {
        padding: 15.054vw 9.189vw;
      }
    }

    &__body {
      display: flex;
      gap: 2.24vw;
      position: relative;
      width: 100%;

      @media (min-width: 1920px) {
        gap: 5.466vw;
      }
      @media (max-width: 1024px) {
        @include flexDirection(column);
        gap: 5.865vw;
      }
    }

    &__buckthornSbiten {
      background: url('/src/images/recipe_sbiten.png') lightgray 0px -2.552vw / 100%
        130.114% no-repeat;
      background-size: cover;
      border-radius: 2.396vw;
      max-width: 36.823vw;
      position: relative;
      width: 100%;

      @media (min-width: 1920px) {
        height: 31vw;
        width: 62%;
      }

      @media (max-width: 1024px) {
        height: 86.706vw;
        max-width: none;
      }
    }

    &__frame {
      @include border-frame(var(--beige));
      border-radius: 2.396vw;
      left: 0.99vw;
      transform: rotate(4.948deg);
    }

    &__compilations {
      background: #f6f0e0;
      border-radius: 2.396vw;
      display: flex;
      flex-direction: column;
      gap: 3.49vw;
      padding: 0.521vw 2.083vw 3.646vw;
      width: 100%;

      /*@media (min-width: 1920px) {
				border-radius: 46px;
				gap: 67px;
				padding: 10px 40px 70px;
			}*/

      @media (max-width: 1024px) {
        padding: 3.128vw;
      }
    }

    &__compilationsImages {
      align-items: flex-end;
      display: flex;
      justify-content: center;
    }

    &__compilationsImage:first-child {
      border-radius: 30px;
      //max-width: 292px;
      width: 15.208vw;

      @media (max-width: 1024px) {
        width: 22.776vw;
      }
    }

    &__compilationsImage:nth-child(2) {
      border-radius: 70%;
      //max-width: 235px;
      width: 12.24vw;
      @media (max-width: 1024px) {
        width: 18.352vw;
      }
    }

    &__compilationsImage:nth-child(3) {
      border-radius: 30px;
      //max-width: 419px;
      width: 21.823vw;
      @media (max-width: 1024px) {
        width: 32.649vw;
      }
    }

    &__text {
      color: var(--darkGreen);
      font-family: var(--lithium);
      font-size: 5vw;
      font-weight: 400;
      line-height: 70%;
      text-align: start;

      @media (min-width: 1920px) {
        font-size: 3.019vw;
        text-align: end;
      }

      @media (max-width: 1024px) {
        font-size: 7.331vw;
      }
    }

    &__text--bold {
      font-family: var(--backwardsBlack);
      margin-bottom: 1.406vw;
      @media (min-width: 1920px) {
        text-align: start;
      }
    }

    &__toast {
      @extend %toast-btn;
      bottom: 1.771vw;
      left: 12.604vw;
      position: absolute;

      @media (min-width: 1920px) {
        bottom: 0;
        left: 9.5vw;
      }

      @media (max-width: 1024px) {
        max-width: 64.516vw;
        position: static;
      }
    }

    &__text-block {
      @media (min-width: 1920px) {
        max-width: 25.039vw;
      }
    }
  }

  .lib {
    &__container {
      margin: 0 auto;
      //max-width: 1920px;
      padding: 0 3.125vw 10.104vw;
      width: 100%;
      @media (min-width: 1920px) {
        //padding: 0 103px 194px;
      }
      @media (max-width: 1024px) {
        padding: 0 9.189vw 15.054vw;
      }
    }

    &__heading {
      @include heading(2);
      gap: 1.51vw;
      margin-bottom: 5.313vw;
      max-width: 66.667vw;
      width: 100%;

      @media (min-width: 1920px) {
        gap: 1.25vw;
        margin-bottom: 2.447vw;
        max-width: 50.547vw;
      }

      @media (max-width: 1024px) {
        gap: 2.637vw;
        margin-bottom: 5.376vw;
        max-width: none;
      }
    }

    .beige-block {
      background: var(--beige);
      border-radius: 2.396vw;
      @include displayFlex;
      justify-content: space-between;
      padding: 5.469vw 2.5vw;
      position: relative;

      @media (min-width: 1920px) {
        padding: 105px 48px;
      }

      @media (max-width: 1024px) {
        @include flexDirection(column);
        gap: 9.384vw;
        padding: 8.309vw 3.128vw 7.527vw;
      }

      &__frame {
        @include border-frame(var(--green2A3C2C));
        transform: rotate(-6.809deg);
      }

      &__left {
        @include displayFlex;
        @include flexDirection(column);
        justify-content: space-between;

        @media (max-width: 1024px) {
          gap: 2.737vw;
        }

        @media (min-width: 1920px) {
          gap: 3.852vw;
        }
      }

      &__toasts {
        @include displayFlex;
        gap: 2.604vw;

        @media (min-width: 1920px) {
          gap: 50px;
        }
      }

      &__toast {
        @extend %green-toast;
      }

      &__text {
        @extend %commons-text;
        font-size: 1.823vw;
        line-height: 108.669%;
        max-width: 30.99vw;
        @media (min-width: 1920px) {
          max-width: 30.973vw;
        }

        @media (max-width: 1024px) {
          font-size: 3.128vw;
          max-width: 74vw;
        }
      }

      &__right {
        height: 24.479vw;
        max-width: 747px;
        @include displayFlex;
        @include contentCenter;
        width: 38.906vw;

        @media (max-width: 1024px) {
          height: 44.966vw;
          width: 100%;
        }

        @media (min-width: 1920px) {
          height: 17.907vw;
          max-width: 28.475vw;
          width: 100%;
        }
      }

      &__pic {
        background: url('/src/images/tea_texture.png') no-repeat center center;
        background-size: cover;
        border-radius: 1.563vw;
        height: 100%;
        position: relative;
        width: 100%;
      }

      &__right-toast {
        @extend %toast-btn;
        bottom: 1.25vw;
        left: 1.927vw;
        position: absolute;
      }
    }
  }

  .articles {
    &__inner {
      display: flex;
      justify-content: space-between;
      padding: 0 3.125vw 10.104vw;
      @media (min-width: 1920px) {
        padding: 0 103px 194px;
      }

      @media (max-width: 1024px) {
        gap: 7.527vw;
        @include flexDirection(column);
        padding: 0 9.189vw 15.054vw;
      }
    }

    &__heading {
      @include heading(1);
      gap: 1.354vw;
      max-width: 42.344vw;

      @media (min-width: 1920px) {
        gap: 0.938vw;
        max-width: 42.322vw;
      }

      @media (max-width: 1024px) {
        max-width: 64.027vw;
        padding-right: 0;
      }
    }

    &__text {
      @extend %helvetica-text;
      color: var(--beige);
      font-size: 1.25vw;
      max-width: 25.5vw;

      @media (min-width: 1920px) {
        max-width: 24vw;
      }

      @media (max-width: 1024px) {
        font-size: 3.128vw;
        max-width: 61.193vw;
      }
    }

    &__left {
      justify-content: space-between;
      @include displayFlex;
      @include flexDirection(column);
      padding-bottom: 3.75vw;
      padding-right: 5.208vw;
      position: relative;
      width: 100%;
      @media (min-width: 1920px) {
        gap: 8.798vw;
        padding-bottom: 0;
      }
      @media (max-width: 1024px) {
        gap: 21.114vw;
        padding: 0;
      }
    }

    &__left-line {
      height: 22.708vw;
      position: absolute;
      right: 5.208vw;
      top: 13.458vw;
      width: 19.01vw;

      @media (min-width: 1920px) {
        height: 4.008vw;
        right: 10vw;
        top: 10vw;
        width: 6.611vw;
      }
    }

    &__toast {
      @extend %toast-btn;
      left: 1.667vw;
      position: absolute;
      top: 22vw;

      @media (min-width: 1920px) {
        left: 0.6vw;
        top: 16vw;
      }

      @media (max-width: 1024px) {
        top: 36vw;
      }
    }

    &__right {
      @include displayFlex;
      @include flexDirection(column);
      gap: 1.302vw;
      position: relative;
      width: 100%;
      @media (min-width: 1920px) {
        @include flexDirection(row);
      }
    }

    &__right-bottom {
      justify-content: space-between;
      @include displayFlex;

      @media (min-width: 1920px) {
        gap: 1.302vw;
      }
    }

    .article_tea-1 {
      height: 26.146vw;
      max-height: 502px;

      @media (max-width: 1024px) {
        height: 47.014vw;
        max-width: none;
      }

      @media (min-width: 1920px) {
        border-radius: 2vw;
        height: 100%;
        max-height: none;
        object-fit: cover;
        object-position: center center;
        width: 27.225vw;
      }
    }

    .article_tea-2 {
      height: 16.823vw;
      max-height: 323px;

      @media (max-width: 1024px) {
        height: 29.228vw;
        width: 35.191vw;
      }

      @media (min-width: 1920px) {
        border-radius: 23.738vw;
        height: 100%;
        max-height: none;
        object-fit: cover;
        object-position: center center;
        width: 12.515vw;
      }
    }

    .article_tea-3 {
      height: 16.25vw;
      max-height: 312px;
      @media (max-width: 1024px) {
        height: 29.228vw;
        width: 44.575vw;
      }

      @media (min-width: 1920px) {
        border-radius: 2vw;
        height: 100%;
        max-height: none;
        object-fit: cover;
        object-position: center center;
        width: 18.168vw;
      }
    }
  }

  .cultures {
    &__inner {
      padding: 0 3.125vw 10.104vw;

      @media (max-width: 1024px) {
        padding: 0 9.189vw 15.054vw;
      }
    }

    &__heading {
      @include heading(2);
      margin-bottom: 5.313vw;
      max-width: 66.667vw;
      width: 100%;

      @media (min-width: 1920px) {
        margin-bottom: 2.447vw;
        max-width: 50.547vw;
      }

      @media (max-width: 1024px) {
        max-width: none;
      }
    }

    &__row {
      @include displayFlex;
      gap: 0.729vw;
      justify-content: space-between;
      width: 100%;

      @media (max-width: 1024px) {
        gap: 5.865vw;
      }

      .image-toast {
        @include displayFlex;
        @include flexDirection(column);
        align-items: flex-start;
        gap: 2.24vw;

        @media (min-width: 1920px) {
          gap: 43px;
        }

        @media (max-width: 1024px) {
          gap: 5.865vw;
        }
      }

      .bars {
        @include displayFlex;
        gap: 0.729vw;

        @media (max-width: 1024px) {
          justify-content: space-between;
          width: 100%;
        }
      }

      @media (max-width: 1024px) {
        @include flexDirection(column);
      }
    }

    &__toast {
      @extend %toast-btn;
      width: fit-content;
    }

    &__img-1 {
      position: relative;
      width: 52.604vw;

      @media (max-width: 1024px) {
        width: 100%;
      }

      img {
        width: 100%;
      }
    }

    &__img-2 {
      height: 26.771vw;
      width: 25.26vw;

      @media (max-width: 1024px) {
        height: 54.252vw;
        width: 51.222vw;
      }
    }

    .chocolate-bar {
      background-color: var(--mustard);
      border-radius: 2.396vw;
      height: 26.771vw;
      width: 4.635vw;

      @media (max-width: 1024px) {
        height: auto;
        width: 9.384vw;
      }
    }

    .green-bar {
      background-color: var(--green2A3C2C);
      border-radius: 2.396vw;
      height: 26.771vw;
      width: 9.167vw;

      @media (max-width: 1024px) {
        height: auto;
        width: 18.671vw;
      }
    }

    &__frame {
      @include border-frame(var(--beige));
      border-radius: 2.396vw;
      transform: rotate(3.157deg);
    }
  }

  .email {
    &__inner {
      @include displayFlex;
      @include contentCenter;
      @include flexDirection(column);
      align-items: center;
      gap: 2.917vw;
      padding: 0 3.125vw 22.604vw;

      @media (max-width: 1024px) {
        gap: 7.527vw;
        padding: 0 9.189vw 15.054vw;
      }
    }

    &__heading {
      color: var(--beige);
      font-family: var(--backwardsBold);
      font-size: 2.083vw;
      font-weight: 700;
      @include contentCenter;

      @media (max-width: 1024px) {
        font-size: 4.692vw;
        max-width: 58vw;
      }

      .desktop-words {
        @media (max-width: 1024px) {
          display: none;
        }
      }
    }

    &__form {
      @include displayFlex;
      @include contentCenter;
      align-items: stretch;
      gap: 0.833vw;
      max-width: 35.104vw;
      min-height: 3.229vw;
      width: 100%;

      @media (max-width: 1024px) {
        max-width: none;
        min-height: 7.527vw;
      }

      &-input {
        background: #f6f0e0;
        border: 0.104vw solid var(--beige);
        border-radius: 3.385vw;
        color: var(--black-light);
        flex: 1 0 auto;
        font-size: 1.25vw;
        @extend %helvetica-text;
        outline: none;
        padding-left: 3.385vw;

        @media (max-width: 1024px) {
          font-size: 3.128vw;
        }
      }

      &-input::placeholder {
        color: var(--black-light);
        @extend %helvetica-text;
        font-size: 1.25vw;
        height: fit-content;

        @media (max-width: 1024px) {
          font-size: 3.128vw;
        }
      }

      &-btn {
        background: url('images/button-bckg.svg') no-repeat center center;
        background-size: contain;
        border: none;
        @include displayFlex;
        cursor: pointer;
        flex: 0 0 auto;
        width: 4.479vw;

        @media (max-width: 1024px) {
          width: 10.459vw;
        }
      }
    }
  }
}
