:root {
    --white: #ffffff;
    --black: #000000;
    --dark: #737373;
    --middle: #979797;
    --light: #dedede;
    --pink: #ff0aa9;
    --beige: #F6F0E0;
    --darkGreen: #1F2522;
    --mustard: #BB8F54;
    --fontSize: 16px;
    --backwardsBold: 'TT Backwards Sans Edu Bold', serif;
    --backwardsBlack: 'TT Backwards Sans Edu Black', serif;
    --commons: 'TT Commons Pro Edu', sans-serif;
    --lithium: 'Lithium', sans-serif;
  }