:root {
  --backwardsBlack: 'TT Backwards Sans Edu Black', serif;
  --backwardsBold: 'TT Backwards Sans Edu Bold', serif;
  --beige: #f7f2e6;
  --black: #000000;
  --commons: 'TT Commons Pro Edu', sans-serif;
  --dark: #737373;
  --darkGreen: #1f2522;
  --fontSize: 16px;
  --green2A3C2C: #2a3c2c;
  --helveticaNeue: 'Helvetica Neue';
  --helveticaNeueBold: 'Helvetica Neue Bold', serif;
  --light: #dedede;
  --lithium: 'Lithium', sans-serif;
  --middle: #979797;
  --mustard: #bb8f54;
  --pink: #ff0aa9;
  --white: #ffffff;
  --dark-gray: #1a231c;
  --black-light: #1f2522;
}
