:root {
  --beige: #f6f0e0;
  --black: #000000;
  --caramel: #cc8931;
  --commons: 'TT Commons Pro Edu', sans-serif;
  --dark: #737373;
  --darkGreen: #1a2e0e;
  --fontSize: 16px;
  --gramatika: 'Gramatika', sans-serif;
  --green: #457a24;
  --green2A3C2C: #2a3c2c;
  --green_light: #3A661E;
  --helveticaNeue: 'Helvetica Neue';
  --helveticaNeueBold: 'Helvetica Neue Bold', serif;
  --light: #dedede;
  --lithium: 'Lithium', sans-serif;
  --middle: #979797;
  --mustard: #bb8f54;
  --pink: #ff0aa9;
  --white: #ffffff;
  --font-als_vlas: 'ALS Vlas';
  --font-backwardsBlack: 'TT Backwards Sans Edu Black', serif;
  --font-backwardsBold: 'TT Backwards Sans Edu Bold', serif;
  --beige-bckg: #f6ece0;
  --beige-d: #f6ece0;
  --dark-gray: #1a231c;
  --light-green: #749b5b;
  --font-helios_ext_c: 'HeliosExtC';
  --beige-l: #faf6f0;

  --black-light: #1f2522;
  --biege-transparent: rgba(246, 236, 224, 0.65);
}
