.body-spirals {
  @extend %body-article;

  .header {
    @extend %header-article;
  }

  .main {
    @extend %main-article;

    &__inner {
      border: 0.135vw solid var(--black);
      border-radius: 1.979vw;
      gap: 3.021vw;
      @include displayFlex;
      padding: 3.958vw 18.229vw 3.958vw 36.458vw;
      position: relative;

      @media (max-width: 1024px) {
        border-radius: 5.799vw;
        @include flexDirection(column);
        padding: 0 9.415vw 9.415vw;
      }
    }

    &__image {
      background: url('/src/images/spirals/teaa-texture.png') no-repeat center
        center;

      border-radius: 2vw;
      height: 29.896vw;
      left: 0;
      position: absolute;
      width: 28.594vw;

      @media (max-width: 1024px) {
        aspect-ratio: 269 / 258;
        height: 100%;
        max-height: 68.448vw;
        position: static;
        width: 100%;
      }
    }

    &__heading {
      @extend %bold-text;
      color: var(--green2A3C2C);
      font-size: 4.427vw;
      margin-bottom: 1.094vw;

      @media (max-width: 1024px) {
        font-size: 7.634vw;
        margin-bottom: 4.835vw;
      }
    }

    &__subtitle {
      @extend %helvetica-text;
      font-size: 1.25vw;
      margin-bottom: 3.802vw;

      @media (max-width: 1024px) {
        font-size: 3.562vw;
        margin-bottom: 10.687vw;
      }
    }

    .characteristics {
      @include displayFlex;
      @include flexWrap(wrap);
      justify-content: space-between;
      margin-bottom: 5.365vw;
      max-width: 32.917vw;
      row-gap: 1.458vw;
      width: 100%;

      @media (max-width: 1024px) {
        gap: 7.379vw;
      }

      &__ul {
        font-size: 1.354vw;
        @extend %helvetica-text;

        @media (max-width: 1024px) {
          font-size: 3.562vw;
        }
      }

      &__li:first-child {
        font-weight: 700;
      }
    }

    &__description {
      @extend %helvetica-text;
      font-size: 1.354vw;
      max-width: 37.188vw;

      @media (max-width: 1024px) {
        font-size: 3.562vw;
        max-width: none;
      }
    }
  }

  .footer {
    @extend %footer;
  }
}
