@import '../vars';
@import '../mixins';
@import '../elements';

.body-news-advice {
  background: var(--beige);

  .wrapper {
    @include displayFlex;
    @include flexDirection(column);
    min-height: 100%;
  }

  .content {
    flex: 1 0 auto;
  }

  .footer {
    flex: 0 0 auto;
  }

  .container {
    padding: 0 4.164vw;
    @media (max-width: 1024px) {
      padding: 0 9.189vw;
    }
  }

  .header {
    @extend %header-article;
  }

  .main {
    padding-bottom: 17.76vw;

    &__wrapper {
      @include displayFlex;
      @include flexDirection(column);
      gap: 1.614vw;
    }

    .link-back {
      @extend %bold-text;
      color: var(--black);
      font-size: 2.186vw;
      text-decoration: none;

      @media (max-width: 1024px) {
        font-size: 4vw;
      }
    }

    &__inner {
      border: 0.135vw solid var(--black);
      border-radius: 1.979vw;
      gap: 3.021vw;
      @include displayFlex;
      @include flexDirection(column);
      padding: 0 8.021vw 3.49vw;

      @media (max-width: 1024px) {
        border-radius: 5.799vw;
        padding: 0 9.415vw 3.49vw;
      }
    }

    &__image {
      aspect-ratio: 1456/670;
      background: url('/src/images/news/news-image.png') no-repeat center center;
      background-size: cover;
      border-radius: 5.799vw;
      width: 100%;

      @media (max-width: 1024px) {
        aspect-ratio: 670/750;
      }

      &-advice {
        background: url('/src/images/advice/advice-img.png') no-repeat center
          center;
        background-size: cover;
      }
    }

    &__text-block {
      @include displayFlex;
      @include flexDirection(column);
      gap: 3.542vw;
    }

    &__heading {
      @include heading(1);
      color: var(--black-light);
      font-size: 4.427vw;
      max-width: 55.7vw;

      @media (max-width: 1024px) {
        max-width: none;
      }

      @media (min-width: 1920px) {
        max-width: 43vw;
      }

      &-advice {
        max-width: 46.094vw;

        @media (max-width: 1024px) {
          max-width: none;
        }

        @media (min-width: 1920px) {
          max-width: 35vw;
        }
      }
    }

    &__text {
      @extend %helvetica-text;
      font-size: 1.25vw;
      margin: 0 auto;
      max-width: 40.885vw;

      &-advice {
        max-width: 44.271vw;
        @media (min-width: 1920px) {
          font-size: 1.718vw;
          margin: 0;
          max-width: 63vw;
        }
      }

      @media (max-width: 1024px) {
        font-size: 3.125vw;
        max-width: none;
      }

      @media (min-width: 1920px) {
        font-size: 1.718vw;
        margin: 0;
        max-width: 56vw;
      }
    }
  }

  .footer {
    @extend %footer;
  }
}
