<footer class="O_Footer">
  <div class="W_Footer">
    <div class="C_Authors">
      <span class="A_TeaCardTitle">Анастасия Толщина</span>
      <div class="W_AuthorsBottom">
        <span class="A_FooterText">Соня Каем</span>
        <span class="A_FooterText">Анна Комкова</span>
        <span class="A_FooterText">Захар День</span>
      </div>
    </div>
    <div class="C_Socials">
      <a href="#">
        <img alt="" class="Q_Telegram" src="../images/Q_Telegram.svg" />
      </a>
      <a href="#">
        <img alt="" class="Q_Vk" src="../images/Q_Vk.svg" />
      </a>
    </div>
  </div>
</footer>