.O_TeaType {
  background-color: var(--beige-d);
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  gap: 30px;
  overflow-x: hidden;
  padding: 57px 0 45px clamp(4.375rem, -44.4768rem + 54.2797vw, 20.625rem);
  /*position: relative;*/

  @media (min-width: 1920px) {
    padding: 45px 0 60px  clamp(15.625rem, -45.875rem + 51.25vw, 36.125rem);
  }

  @media (max-width: 1439px) {
    padding: 38px 0 53px  clamp(3.75rem, -27.0934rem + 48.1928vw, 16.25rem);
  }

  @media (max-width: 1023px) {
    padding: 38px 0 59px clamp(2.5rem, -20rem + 48.3871vw, 10.9375rem);
  }

  .swiper {
    overflow: visible;
  }

  .W_TextLink {
    display: flex;
    flex-direction: column;
    gap: 12px;

    @media (max-width: 1439px) {
      gap: 1.172vw;
    }
  /*  @media (max-width: 743px) {
      gap: 1.86vw;
    }*/
  }

  .W_TextLink {
    max-width: 500px;

    @media (max-width: 1439px) {
      max-width: 385px;
    }



    //@media (max-width: 743px) {
    //  max-width: 86.047vw;
    //}
  }

  .A_CardTitl2 {
    @media (max-width: 1439px) {
      font-size: 1.25rem;
    }
  }

  .A_Text, .A_Link {
    @media (max-width: 1439px) {
      font-size: 0.875rem;
    }
  }

  .A_SliderButtonRight {
    bottom: 65px;
    position: absolute;
    //right: 163px;
    right: 72px;

    @media (max-width: 1439px) {
      right: 52px;
    }

    @media (max-width: 1023px) {
      right: 37px;
    }

    @media (max-width: 743px) {
      display: none;
    }



  }

  .A_SliderButtonLeft {
    bottom: 65px;
    position: absolute;
    //right: 290px;
    right: 190px;

    @media (max-width: 1439px) {
      right: 150px;
      width: 138px;
    }

    @media (max-width: 1023px){
      right: 150px;
      width: 101px;

    }

    @media (max-width: 743px) {
      display: none;
    }
  }
}
